<div data-role="view" data-title="History" data-layout="main" data-model="app.historyModel">
  
    <ul data-template="ul-template" style="list-style:none;margin:0px; padding:0px" data-bind="source: submits"></ul>
    <script id="ul-template"  type="text/x-kendo-template">
        <li style="margin:0px; padding:0px">
            <div style="height:150px; background: url('#: image #'); text-align:center">
                
            </div>
            <button class="k-button history-btn" data-bind="text: status, click: checkImage"></button>
        </li>
    </script>
</div>