<div data-role="view" data-title="Login" data-layout="main" data-model="app.loginModel">
    <div id="login-register-view">
        <ul id="panelbar">
            <li class="k-state-active">
                <span class="k-link k-state-selected">Login</span>
                <div id="login-panel">
                    <br />
                    <label for="tb-email" data-bind="value: loginMail">Email</label>
                    <input type="email" id="tb-email" class="k-textbox"
                           data-bind="value:loginEmail" data-id="tb-email" name="email" required />
                    <span class="k-invalid-msg" data-for="email"></span>
                    <br />
                    <br />
                    <label for="tb-pass">Pass&nbsp;</label>
                    <input type="text" id="tb-pass" class="k-textbox" data-bind="value:loginPass" data-id="tb-pass" name="tb-pass"
                           required />
                    <span class="k-invalid-msg" data-for="pass"></span>
                    <br />
                    <br />
                    <a data-role="button" id="btn-login" data-bind="click: login">Login</a>

                </div>
            </li>
            <li>
                Register
                <div>
                    <div id="register-panel">
                        <br />
                        <label for="tb-email-register">Email</label>
                        <input type="email" id="tb-email-register" class="k-textbox" data-bind="value: regMail" name="e-mail" required />
                        <span class="k-invalid-msg" data-for="e-mail"></span>
                        <br />
                        <br />
                        <button data-role="button" data-bind="click: register">Register</button>
                        <div>You will receive your password on the email</div>
                    </div>
                </div>
            </li>
        </ul>
        <div data-bind="text:error" class="error"></div>
    </div>
    <script>
        $(document).ready(function () {
            $("#panelbar").kendoPanelBar({
                expandMode: "single"
            });
        });
    </script>
</div>